/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Variables */

:root {
  --error-colour: #B00000;
  --dark-green: #008000;
  --white: #fff;
  --black: #000;
}

/* Styling */

body {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  color: var(--black);
  padding: 2rem 4rem;
}

main {
  margin: auto;
  max-width: 960px;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 1rem;
}

.form-input label {
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 0.25rem;
}

.invalid {
    border-color: var(--error-colour);
}

.error-msg {
  color: var(--error-colour);
}

.form-hint {
    margin-top: 0.5rem;
}

.btn {
  font-size: 1.25rem;
  border-width: 2px;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

.btn--save {
  background-color: var(--dark-green);
  color: var(--white);
}

.btn--delete {
  background-color: var(--error-colour);
  color: var(--white);
}

.dob-input {
    border: 0;
    padding: 0 0 1rem;
}

.dob-input h2 {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

.date-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
.date-input-group {
    display: flex;
    flex-direction: column;
    
}

.date-input-group input {
    width: 4rem;
}

.results-table {

}

.results-table--hidden {
  visibility: hidden;
}